header {
  box-sizing: border-box;

  & > .regular-nav {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    padding: 0;

    & > .first-row {
      width: 100%;
      background-color: #f72210;
      padding: 20px;
      text-align: center;
      color: white;

      & > .logo svg {
        padding-left: 80px;
        height: 60px;
        fill: white;
      }
    }

    & .float-right {
      margin-top: 36px;

      &__buttons {
        color: white;
        font-weight: bold;
        padding: 0 12px;
      }

      & .--subButton {
        background-color: white;
        color: red;
      }
    }

    & .float-left {
      margin-top: 36px;
      font-size: 14px;
    }

    & .second-row {
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom: 2px solid rgb(236, 236, 236);

      & p {
        cursor: pointer;
      }

      &__search {
        font-weight: 100;
        font-size: 18px;
        color: rgb(177, 177, 177);
        cursor: pointer;

        & .--smallIcon {
          padding-top: 3px;
          width: 22px;
          margin-left: 10px;
          padding-bottom: 5px;
          cursor: pointer;
        }
      }

      &__first {
        margin-left: 10px;
      }
    }
  }

  & > .mobile-nav {
    background-color: red;

    & .mobile-logo {
      height: 20px;
      fill: white;
    }

    & .float-right {
      margin-top: 8px;
      font-weight: bold;
      color: white;

      & .--subButton {
        padding-left: 5px;
        background-color: white;
        color: red;
      }

      &__menu {
        width: 35px;
        margin-left: 10px;
      }
    }
  }
}
